<!DOCTYPE>
<html lang ="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Envisage</title>

        <!-- CSS -->
        

        <!-- jQuery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 

        <!-- your javascript -->
        <script type="text/javascript" src="/public/js/main.js"></script>
        
</head>

<body>
   
   <div class = "container">
      <div class = "header"> 
         <h1 class = "titlename" style = margin-top: 100px"> Envisage</h1>

      </div>
   </div>
 
   <div class ="stories">
       <!-- link that opens popup -->
   </div>   
</body>

</html>
